@import url('https://fonts.googleapis.com/css?family=Quicksand');

// Color Palette
$white: rgba(254, 254, 255, 1);
$low: rgba(167, 162, 169, 1);
$medium: rgba(87, 90, 94, 1);
$hight: rgba(34, 40, 35, 1);
$black: rgba(8, 9, 10, 1);

html, body {
    width: 100%;
    padding: 0;
    margin: 0;
    background: $white;
    color: $black;
    font-family: Quicksand;
}

.nav-bar {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background: $white;
    border-bottom: 1px solid $low;
    box-shadow: 0 0 5px $low;
    background: $white;
    .search {
        width: 30px;
        box-sizing: border-box;
        border-radius: 4px;
        font-size: 16px;
        border: none;
        color: $low;
        background-color: $white;
        background-image: url('../images/searchicon.png');
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        margin-left: 10px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }
    .search:focus {
        width: 100vw;
        border: 1px solid $low;
    }
    .social a {
        flex-basis: 30%;
        color: $medium;
        margin: 15px 10px;
        transition: .3s;
    }
    .social a:hover{
        color: $low;
        transition: .3s;
    }
    .logo {
        flex-basis: 30%;
        text-align: center;
        font-weight: bold;
    }
}

.blog-body{
    margin-top: 60px;
    width: 100%;
    .menu .menu-ul {
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        width: 90%;
        padding-top: 10px;
        li, a {
            color: $medium;
            text-decoration: none;
            font-size: 0.9rem;
            transition: .3s;
        }
        li.strong, a.strong {
            font-weight: bold;
        }
        a:hover {
            color: $low;
            transition: .3s;
        }
    }
}

.post-grid {
    width: 80%;
    margin: auto;
    .grid {
        display: grid;
        grid-templates-column: 1fr 1fr 1fr;
        grid-templates-row: auto;
        grid-gap: 5px;
        grid-template-areas:
        "post1 post1 post2"
        "post1 post1 post3";
        height: 30rem;
        h1 {
            font-size: 0.9rem;
            color: $white;
            margin-left: 5px;
            }
        .post {
            background-size: cover;
            background-position: center;
        }
        .post:hover {
            box-shadow: 0 0 5px 3px $low;
            transition: .3s;
        }
        .post1 {
            grid-area: post1;
            background-image: url('../images/post1.jpg');
            h1 {font-size: 1rem;}
        }
        .post2 {
            grid-area: post2;
            background-image: url('../images/post2.jpg');
        }
        .post3 {
            grid-area: post3;
            background-image: url('../images/post3.jpg');
        }
    }
}
