/* Coolors Exported Palette - coolors.co/fefeff-a7a2a9-575a5e-222823-08090a */

/* HSL */
$color1: hsla(240%, 100%, 100%, 1);
$color2: hsla(283%, 4%, 65%, 1);
$color3: hsla(214%, 4%, 35%, 1);
$color4: hsla(130%, 8%, 15%, 1);
$color5: hsla(210%, 11%, 4%, 1);

/* RGB */
$color1: rgba(254, 254, 255, 1);
$color2: rgba(167, 162, 169, 1);
$color3: rgba(87, 90, 94, 1);
$color4: rgba(34, 40, 35, 1);
$color5: rgba(8, 9, 10, 1);